<%- include('./partials/head.ejs') %>

<main>
	<section class="detail-section">
		<img class="detail-book-cover" src="<%= results[0].coverimages %>" alt="">
		<article>
			<h1> <%= results[0].titles[0] %></h1>
			<dl>
				<div>
					<dt>Schrijver:</dt> <dd><%= results[0].authors[0] %></dd>
				</div>
				<div>
					<dt>ISBN:</dt> <dd><%= results[0].isbn %></dd>
				</div>
				<div>
					<dt>Uitgever:</dt> <dd><%= results[0].publisher %></dd>
				</div>
				<div>
					<dt>Genre:</dt> <dd><%= results[0]['subject-topical'][0] %></dd>
				</div>
				<div>
					<dt>Taal:</dt> <dd><%= results[0].languages %></dd>
				</div>
				<div class="container-btn-reserve">
					<a href="/books/new?id=<%= results[0].isbn %>" class="btn-reserve">Reserveer boek</a>
				</div>
			</dl>
		</article>
	</section>
</main>

<%- include('./partials/foot.ejs') %>

