<%- include('./partials/head.ejs') %>

<main>

    <section class="overview-content">
        <img src="/assets/content.png"  href="https://www.oba.nl/service/word-lid.html"> 
        <p>
            Maak kennis met verhalen in vele vormen. In jouw OBA vind je boeken om mee weg te kruipen, 
            een theatervoorstelling waar je stil van wordt en voorleesuurtjes waar je niet over uitgepraat raakt. 
        </p>
    </section>

    <section class="overview-books">      
        <h2 class="overview-title">Onze nieuwste aanwinsten</h2>
        <ul class="book-list">
            <% results.forEach(result => { %>
                <li class="book-list-item">
                    <article>   
                        <img src="<%= result.coverimages %>" alt="<%= result.titles %>">
                        <div>
                            <div>
                                <h3> <%= result.titles[0] %></h3> 
                                <dl>
                                    <div>
                                        <dt>Auteur:</dt> <dd><%= result.authors[0] %></dd>
                                    </div>
                                    <div>
                                        <dt>Jaar:</dt>
                                        <dd> <%= result.year %></dd>
                                    </div>
                                </dl>
                            </div>                            
                            <div class="detail-box">
                                <a href="/books" class="btn-details" > Details</a>
                            </div>
                        </div>
                    </article>
                </li>
            <% }) %>
        </ul>
    </section>

</main>

<%- include('./partials/foot.ejs') %>