<%- include('./partials/head.ejs') %>

<main>
    <section>
        <h2> Waar ben je naar opzoek?</h2>
        <form method="get" action="/home.do">
            <input type="search" id="search-bar" placeholder="Ik zoek..." />
            <button type="submit" name="submit">
                Zoek <span class="material-symbols-outlined">arrow_right</span>
            </button>
        </form>
    </section>

    <section>
        <img src="/assets/content.png"  href="https://www.oba.nl/service/word-lid.html"> 
        <p>
            Maak kennis met verhalen in vele vormen. In jouw OBA vind je boeken om mee weg te kruipen, 
            een theatervoorstelling waar je stil van wordt en voorleesuurtjes waar je niet over uitgepraat raakt. 
        </p>
    </section>

    <section>      
        <h2>Onze nieuwste aanwinsten</h2>

        <ul class="book-list">
            <% for (let i= 0; i < results.length; i++){ %>
            <li class="book-list-item">
                <article>   
                    <img src="<%= results[i].coverimages %>" alt="<%= results[i].frabl.key1 %>">
                    <div>
                        <div>
                            <h3> <%= results[i].frabl.key1 %></h3> 
                            <dl>
                                <div>
                                    <dt>Auteur:</dt> <dd><%= results[i].authors[0] %></dd>
                                </div>
                                <div>
                                    <dt>Jaar:</dt>
                                    <dd> <%= results[i].year %></dd>
                                </div>
                            </dl>
                        </div>                            
                        <div class="detail-box">
                            <a href="/book" class="btn-details" > Details</a>
                        </div>
                    </div>
                </article>
            </li>
            <% } %> 
        </ul>
    </section>

</main>

<%- include('./partials/foot.ejs') %>